.section--center {
  max-width: 940px;
  margin-top: 60px;
  height: 400px;
  margin-bottom:10px;
}

.demo-card-wide>.mdl-card__title {
  color: #fff;
  height: 65px;
  background: #002D5B;
}

.demo-card-wide>.mdl-card__menu {
  color: #fff;
}

.demo-card-wide {
  border-radius: 2px;
}
