.section--center {
  max-width: 940px;
  margin-top: 60px;
  min-height: 400px;
  margin-bottom:20px;
}

.demo-card-wide>.mdl-card__title {
  color: #fff;
  height: 65px;
  background: #002D5B;
}

.demo-card-wide>.mdl-card__menu {
  color: #fff;
}

.demo-card-wide {
  border-radius: 2px;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  margin-bottom: 20px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../../assets/dog.png') bottom right 15% no-repeat #002D5B;
}